*{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(255, 98, 67);
    border-radius: 5px;
}

p{
    background-color: aliceblue;
    border-radius: 5px;
}

address{
    background-color: aliceblue;
    border-radius: 5px;
}

#dir-javi{
    text-align: right;
    float: right;
    padding: 10px;
    width: 410px;
}

#dir-sif{
    width: 320px;
    padding: 10px;
}

#texto-javi{
    padding: 15px;
}

#texto-sif{
    padding: 15px;
}

h1 {
    color: aliceblue;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    font-size: 2rem;
}

h2{
    color: black;
    font-size: 1.5rem;
}

dt{
    font-size: 1.15rem;
    text-decoration: underline;
}

li{
    background-color: aliceblue;
    border-radius: 5px;
}

dd{
    background-color: aliceblue;
    border-radius: 5px;
}

#asignaturas{
    width: 300px;
}

.despedida{
    width: 150px;
}

ul{
    width: 370px;
}